/* Programming Experience Page Styling */

.main-container{
    background-color: #151515;
}

/* Container styles */
.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

/* Text Styling */

.blog-container h1 {
    font-size: 28px;
    color: #ffffff;
    /* text-align: center; */
    margin-bottom: 20px;
}

.blog-container p {
    font-size: 16px;
    color: #cccccc;
    margin-bottom: 15px;
}