* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Define styles for the container */
.main-container {
    height: 100vh; /* Set the height of the container to 100vh */
    display: flex; /* Use flexbox to arrange child divs */
    flex-direction: column; /* Arrange child divs vertically */
}

/* Add these styles to your existing CSS */
.main-content {
    flex: 1; /* Allow the main content to fill the remaining space */
    display: block; /* Reset the display property */
}

/* MAIN LEFT AND RIGHT DIVS */

.main-left-div,
.main-right-div {
    box-sizing: border-box; /* Include padding and borders in width calculation */
    float: left; /* Float left for the left div */
    height: 100%;
}

/* MAIN LEFT DIV */

.main-left-div{
    width: 60%;
    float: left;
    background-color: rgb(201, 94, 94);
}

.parent-container {
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    background-color: #f0f0f0;
    padding: 200px;
}

.header {
    font-size: 34px;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
}

.paragraph {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.button {
    border: none;
    color: white;
    padding: 16px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.main-button {
    background-color: rgb(48, 48, 48);
    color: white;
    border: 2px solid #555555;
    border-radius: 5px;
}
  
.main-button:hover {
    background-color: #555555;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* MAIN RIGHT DIV */

.main-right-div {
    width: 40%;
    float: right; /* Float right for the right div */
    background-color: rgb(228, 228, 228);
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Style for the child image */
.image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: auto;
}

/* ----- ABOUT ME ----- */

.about-me-container{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    height: 100vh;
}