/* MAIN CONTAINERS */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("/static/background/profile/profile-background02.png");
    background-size: cover;
}

.main-container{
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* MAIN PROFILE SECTION */

.profile-img {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.name {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(202, 202, 202);
}

.job-title {
    font-size: 19px;
    color: rgb(202, 202, 202);
}

.about-paragraph {
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    word-spacing: 2px;
    font-size: 20px;
    color: #838383;
}

/* PROFILE CARDS SECTION */

.card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 50px;
    max-width: 80%;
}

.card {
    flex: 1;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px;
    height: 300px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    color: #888;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

#gegevens-list-item{
    list-style: none;
}

/* PROFILE CONTACT SECTION */

.contact {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 19px;
    color: rgb(160, 160, 160);
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 10px;
}

