* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

h1{
    font-family: 'Outfit', sans-serif;
}

h2{
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #333;    /* color of the scroll thumb */
    border-radius: 1px;       /* roundness of the scroll thumb */
}