/* Blog Page Styling */

.main-container{
    max-width: 100%;
    height: 100vh;
    background-image: url("/static/background/blog/blog-background.png");
    background-size: cover;
    color: white;
}

.feedback {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.feedback h1{
    margin-bottom: 30px;
}

.feedback-list {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.feedback-list ul {
    margin-left: 10px;
}