/* MAIN CONTAINERS */

.main-container {
    height: 100vh;
    display: flex; 
    flex-direction: column;
    background-image: url("/static/background/index/index-background04.png");
    background-size: cover;
}

.main-content-section {
    flex: 1;
    display: block;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}

/* MAIN LEFT AND RIGHT DIVS */

.main-left-div,
.main-right-div {
    box-sizing: border-box;
    float: left;
    height: 100%;
}

/* MAIN LEFT DIV */

.main-left-div{
    width: 60%;
    float: left;
}

.parent-container {
    width: 85%;
    height: 100%;
    padding-top: 200px;
    padding-left: 200px;
}

.header h1 {
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(31, 31, 31, 0.466);
}

.subtitle h2{
    font-size: 30px;
    color: rgb(211, 211, 211);
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(31, 31, 31, 0.295);
}

.paragraph {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    word-spacing: 2px;
    font-size: 20px;
    color: #838383;
    margin-bottom: 40px;
}

.button {
    border: none;
    color: white;
    padding: 16px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.main-button {
    background-color: rgba(255, 255, 255, 0.034);
    border: 2px solid #aaaaaa2a;
    border-radius: 10px;
    color: white;
}
  
.main-button:hover {
    background-color: #555555;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* MAIN RIGHT DIV */

.main-right-div {
    width: 40%;
    float: right; /* Float right for the right div */
    /* background-image: url("/static/background/gradient-background01.png");
    background-size: cover; */
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.041); */
}

/* Style for the child image */
.image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/* ----- ABOUT ME ----- */

.about-me-section {
    background-color: black;
    color: white;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    height: 100vh;
}

.about-me-title-div{
    padding-top: 100px;
}

#about-me-subtitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: rgb(202, 202, 202);
}

#about-me-title{
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(202, 202, 202);
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.about-paragraph {
    /* margin-top: 40px; */
    margin-bottom: 20px;
    max-width: 70%;
    flex-grow: 1;
    text-align: left;
}

.about-paragraph p {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    word-spacing: 2px;
    font-size: 20px;
    color: #838383;
}

.about-image{
    width: 100%;
}

.about-image img {
    max-height: 350px;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-right: 20px;
    opacity: .65;
}

.about-skills ul {
    list-style-type: none;
    margin-top: 40px;
}

.about-skills ul li {
    margin-bottom: 10px;
    margin-right: 20px;
    display:inline-block
}

.about-skills ul li a {
    text-decoration: none;
    color: #9b9b9b;
}

.about-skills ul li a:hover {
    text-decoration: underline;
    color: #bdbdbd;
}

/* RESPONSIVE CSS SECTION */

@media only screen and (max-width: 1500px) {

    .parent-container {
        width: 100%;
        height: 100%;
        padding-top: 80px;
        padding-left: 200px;
    }

    .main-left-div{
        width: 60%;
        float: left;
    }

    /* Main section Reponsive */
    .header h1 {
        font-size: 57px;
        margin-bottom: 20px;
    }
    
    .subtitle h2{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .paragraph p{
        font-size: 17px;
        margin-bottom: 40px;
    }

    /* About me section Responsive */
    .about-me-title-div{
        padding-top: 40px;
    }
    
    #about-me-subtitle{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        color: rgb(202, 202, 202);
    }
    
    #about-me-title{
        margin-bottom: 20px;
        font-size: 37px;
        color: rgb(202, 202, 202);
    }

    .about-paragraph p {
        margin-bottom: 10px;
        font-size: 17px;
    }
    
}

@media only screen and (max-width: 1200px) {

    /* Main Section */
    .image {
        display: none;
    }

    .main-right-div {
        display: none;
    }
    
    .image-container {
        display: none;
    }

    .main-left-div{
        width: 80%;
        float: left;
    }

    .parent-container {
        padding-top: 80px;
        padding-left: 100px;
    }

    .header h1 {
        font-size: 40px;
        color: white;
        margin-bottom: 20px;
        font-weight: 700;
        text-shadow: 2px 2px 2px rgba(31, 31, 31, 0.466);
    }

    /* About Section */

    .about-image{
        width: 100%;
    }
    
    .about-image img {
        max-height: 250px;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        margin-right: 20px;
        opacity: .65;
    }

    #about-me-title{
        font-size: 30px;
    }
}


@media only screen and (max-width: 1000px) {

    /* Main Section */
    .parent-container {
        padding-top: 80px;
        padding-left: 60px;
    }

    /* About Section */
    .container {
        max-width: 75%;
        margin: 0 auto;
        height: 100vh;
    }

    .about-image img {
        max-height: 200px;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        margin-right: 20px;
    }


    #about-me-title{
        font-size: 25px;
    }

    .about-paragraph p {
        margin-bottom: 10px;
        font-size: 17px;
    }

    .about-skills ul li a {
        font-size: 14px;
    }
}