/* Basic styles for the navbar */
.navbar {
    /* background-color: #131313; */
    overflow: hidden;
}

.navbar-section-right{
    float: right;
}

.logo{
    width: 200px;
    height: auto;
    padding: 20px;
}

/* Style the navbar list */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style the navbar list items */
.navbar li {
    float: left;
    width: 10%;
}

/* Style the navbar links */
.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px; /* Increase the padding to make the navbar taller */
    text-decoration: none;
    line-height: 1.5; /* Increase the line height for vertically centered text */
    font-size: 18px;
}


/* Change the color of navbar links on hover */
.navbar a:hover {
    background-color: #3f3f3f13;
}

/* Create an underline effect on hover */
.navbar a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff2a;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.navbar a:hover::before {
    transform: scaleX(1);
}

.hover-underline-animation {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff2a;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation::after{
    transform: scaleX(0);
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}


.active {
    background-color: #3f3f3f49;
}

.navbar .hamburger-menu {
    display: none;
}

/* Add a class to style the side menu */
.side-menu {
    display: none;
    /* Add other styling for the side menu as needed */
    background-color: #131313;
    color: white;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Hide the menu off-screen initially */
    height: 100%;
    transition: left 0.3s; /* Add a smooth transition effect for sliding in */
}

#menu__toggle {
    display: none;
}

.menu__box{
    display: none;
}

/* Hamburger menu styles for screens up to 1200px */
@media screen and (max-width: 1200px) {

    .hamburger-menu {
        height: 30px;
        cursor: pointer;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: fixed;
        top: 30px;
        left: 20px;
        width: 26px;
        height: 20px;
        cursor: pointer;
        z-index: 99;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #c9c9c9;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 240px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #252525;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 98;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
        color: black;
    }

    /* Hide the regular navbar links */
    .navbar ul {
        display: none;
    }

    .navbar-section-right{
        float: right;
    }
    
    .logo{
        width: 200px;
        height: auto;
        padding: 20px;
        float: right;
    }

}