/* MAIN CONTAINERS */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("/static/background/profile/profile-background02.png");
    background-size: cover;
}

.main-container{
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* MAIN PROFILE SECTION */

.profile-img {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.name {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(202, 202, 202);
}

.subtitle {
    font-size: 19px;
    color: rgb(202, 202, 202);
}

.about-paragraph {
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    word-spacing: 2px;
    font-size: 20px;
    color: #a0a0a0;
}

/* PROFILE CARDS SECTION */

.card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 50px;
    max-width: 80%;
}

.card {
    flex: 1;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px;
    height: 210px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 18px;
    color: #303030;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

#gegevens-list-item{
    margin-left: 10px;
    /* list-style: none; */
}

/* PROFILE CONTACT SECTION */

.contact {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 19px;
    color: rgb(160, 160, 160);
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    /* text-decoration: none; */
    color: #007BFF;
    margin: 0 10px;
}

/* RESPONSIVE CSS SECTION */

@media only screen and (max-width: 1500px) {
    .name {
        font-size: 35px;
        margin-bottom: 5px;
    }
    
    .subtitle {
        font-size: 17px;
    }
    
    .about-paragraph {
        max-width: 600px;
        margin-top: 20px;
        word-spacing: 2px;
        font-size: 19px;
    }

    .profile-img {
        margin-top: 30px;
        width: 110px;
        height: 110px;
        margin-bottom: 15px;
    }

    .card {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 10px;
        height: 200px;
    }
}